@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

body {
    max-width: 1440px;
    font-size: 18px;
    margin: auto;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

p {
    color: hsl(232, 10%, 55%);
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    font-size: 18px;
}

.cabecalho {
    width: 100%;
    font-family: 'Barlow', sans-serif;
    background: url('../images/desktop/image-header.jpg') center center no-repeat;
    background-size: cover;
    height: 800px;
}

.menu {
    display: flex;
    height: 100px;
}

.container-logo-header {
    display: flex;
    margin: 35px;
}

.container-logo {
    width: 200px;
    justify-content: center;
    align-items: center;
}

.cabecalho .menu-botoes {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 40px;
    padding: 35px;
    align-items: center;
    height: 100px;
    color: white;
}

.cabecalho ul li a {
    color: white;
}

.titulo {
    font-family: 'Fraunces', serif;
    display: block;
    color: white;
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 100px;
}

.contact {
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

.contact:hover {
    background-color: #7dd1fc;
    color: white;
}

.arrowDown {
    display: block;
    margin-left: 50%;
    margin-top: 110px;
    transform: translateX(-50%);
}

.transform {
    display: flex;
}

.texto {
    padding: 150px 130px;
    width: 50%;
    max-height: 600px;
}

.texto h2 {
    margin-bottom: 30px;
}

.texto p {
    margin-bottom: 40px;
}

.learn-more {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    font-size: 15px;
}

.imagem {
    width: 50%;
    height: 600px;
    background-size: cover;
}

.img-transform {
    background: url('../images/desktop/image-transform.jpg') center center no-repeat;
}

.img-stand {
    background: url('../images/desktop/image-stand-out.jpg') center center no-repeat;
}

.stand {
    display: flex;
}

.graphic-photo {
    display: flex;
}

.graphic-photo div {
    width: 50%;
    height: 600px;
    text-align: center;
}

.graphic {
    background: url('../images/desktop/image-graphic-design.jpg') center center no-repeat;
    color: hsl(167, 40%, 24%);
    width: 50%;
}

.photography {
    background: url('../images/desktop/image-photography.jpg') center center no-repeat;
    color: hsl(198, 62%, 26%);
    width: 50%;
}

.graphic, .photography {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 60px;
}

.graphic-photo h3 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    padding-bottom: 20px;
    font-size: 30px;
}

.graphic-photo p {
    font-family: 'Barlow', sans-serif;
    padding: 0 170px;
}

.graphic p {
    color: hsl(167, 40%, 24%);
}

.photography p {
    color: hsl(198, 62%, 26%);
}

.client h3 {
    display: block;
    font-family: 'Fraunces', serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    color: hsl(210, 4%, 67%);
    padding-top: 150px;
    font-weight: 900;
    padding-bottom: 80px;
}

.client-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding: 0 120px;
}

.client-box div {
    width: 350px;
    height: 500px;
}

.foto-client {
    border-radius: 90px;
    width: 80px;
}

.review {
    text-align: center;
    padding: 60px 0;
}

.nome {
    display: block;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 25px;
}

.cargo {
    display: block;
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    padding-top: 15px;
}

.rodape .rodape-img {
    display: flex;
}

.rodape-img img {
    width: 25%;
}

.container-logo-footer {
    display: block;
    padding-top: 70px;
    margin: auto;
}

.rodape-sobre {
    background-color: hsl(168, 61%, 66%);
}

.rodape-menu {
    display: flex;
    padding: 50px;
    justify-content: center;
    gap: 50px;
    font-family: 'Barlow', sans-serif;
}

.rodape-menu li a {
    color: hsl(168, 34%, 41%);
}

.rodape-menu .ancora:hover {
    color: white;
}

.rodape-botoes .ancora:hover svg path {
    fill: white;
}

.rodape-botoes {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px 0;
}

.attribution {
    background-color: hsl(168, 61%, 66%);
    font-size: 11px;
    text-align: center;
    color: hsl(168, 34%, 41%);
    font-family: 'Fraunces', serif;
}

.attribution a {
    color: hsl(166, 19%, 17%);
}

.attribution a:hover {
    color: white;
}