@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    width: 1440px;
    font-size: 18px;
    margin: auto;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

p {
    color: hsl(232, 10%, 55%);
    font-family: 'Barlow', sans-serif;
    line-height: 30px;
    font-size: 18px;
}

.cabecalho {
    width: 100%;
    font-family: 'Barlow', sans-serif;
    background-image: url('../images/desktop/image-header.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}

.titulo {
    font-family: 'Fraunces', serif;
    display: block;
    color: white;
    font-size: 46px;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    padding-top: 100px;
}

.menu {
    display: flex;
}

.logo {
    padding: 30px;
}

.cabecalho .menu-botoes {
    display: flex;
    gap: 40px;
    padding: 20px;
    padding-left: 55%;
}

.cabecalho ul li a {
    color: white;
    line-height: 50px;
}

.contact {
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}

.contact:active {
    background-color: #7dd1fc;
    color: white;
}

.arrowDown {
    display: block;
    margin-left: 50%;
    margin-top: 110px;
    transform: translateX(-50%);
}

.transform {
    display: flex;
}

.transform .texto {
    padding: 150px 0;
    padding-left: 150px;
}

.transform .texto h2 {
    margin-bottom: 30px;
    padding-right: 150px;
}

.transform .texto p {
    margin-bottom: 40px;
    padding-right: 120px;
}

.learn-more {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    font-size: 15px;
}

.imagem {
    width: 720px;
    height: 600px;
}

.stand {
    display: flex;
}

.stand .texto {
    padding: 150px 130px;
}

.stand .texto h2 {
    margin-bottom: 30px;
}

.stand .texto p {
    margin-bottom: 40px;
}

.graphic-photo {
    display: flex;
}

.graphic-photo div {
    width: 720px;
    height: 600px;
    text-align: center;
}


.graphic {
    background-image: url('../images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);
}

.photography {
    background-image: url('../images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);
}

.graphic-photo h3 {
    font-family: 'Fraunces', serif;
    padding-top: 390px;
    padding-bottom: 25px;
    font-weight: 900;
}

.graphic-photo p {
    font-family: 'Barlow', sans-serif;
    padding: 0 170px;
}

.graphic p {
    color: hsl(167, 40%, 24%);
}

.photography p {
    color: hsl(198, 62%, 26%);
}

.client h3 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    color: hsl(210, 4%, 67%);
    padding-top: 150px;
    font-weight: 900;
    padding-bottom: 100px;
}

.client-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0 120px;
}

.client-box div {
    width: 350px;
    height: 500px;
}

.foto-client {
    border-radius: 90px;
    width: 80px;
}

.review {
    text-align: center;
    padding: 70px 0;
}

.nome {
    display: block;
}

.cargo {
    display: block;
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    padding-top: 15px;
}

.rodape .rodape-img {
    display: flex;
}

.rodape-img img {
    width: 360px;
}

.rodape-logo {
    display: block;
    padding-top: 70px;
}

.rodape-sobre {
    background-color: hsl(168, 61%, 66%);
    text-align: center;
    
}

.rodape-menu {
    display: flex;
    justify-content: space-around;
    padding: 50px 550px;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif;
}

.rodape-menu li a {
    color: hsl(168, 34%, 41%);
}

.rodape-menu .ancora:active {
    color: white;
}

.rodape-botoes .ancora:active {
    filter: invert(98%) sepia(55%) saturate(93%) hue-rotate(252deg) brightness(123%) contrast(100%);
}

.rodape-botoes {
    display: flex;
    justify-content: space-around;
    padding: 50px 630px;
}

.attribution {
    background-color: hsl(168, 61%, 66%);
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}